<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>yScrumy</title>
    <script th:src="@{js/jquery-2.1.4.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>


    <link rel="stylesheet" type="text/css" media="all" href="/static/css/phuc/style.css"
          th:href="@{/css/phuc/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/phuc/font-awesome.css"
          th:href="@{/css/phuc/font-awesome.css}"/>

    <link href='//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext'
          rel='stylesheet' type='text/css'/>


</head>
<body>
<h1>Product Editing Form</h1>
<div class="login-section">
    <div class="toprow">
        <div class="img1">
            <img src="images/1.jpg" alt=""/>
            <ul>
                <li><a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s"
                       href="#small-dialog"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a></li>
            </ul>
        </div>
        <div class="img1">
            <img src="images/2.jpg" alt=""/>
            <ul>
                <li><a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s"
                       href="#small-dialog1"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a></li>
            </ul>
        </div>
        <div class="img1">
            <img src="images/3.jpg" alt=""/>
            <ul>
                <li><a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s"
                       href="#small-dialog2"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a></li>
            </ul>
        </div>
        <div class="img1">
            <img src="images/4.jpg" alt=""/>
            <ul>
                <li><a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s"
                       href="#small-dialog3"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="bottomrow">
        <div class="img2">
            <img src="images/1.jpg" alt=""/>
            <ul>
                <li><a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s"
                       href="#small-dialog4"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a></li>
            </ul>
        </div>
        <div class="img2">
            <img src="images/2.jpg" alt=""/>
            <ul>
                <li><a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s"
                       href="#small-dialog5"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a></li>
            </ul>
        </div>
        <div class="img2">
            <img src="images/3.jpg" alt=""/>
            <ul>
                <li><a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s"
                       href="#small-dialog6"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a></li>
            </ul>
        </div>
        <div class="img2">
            <img src="images/4.jpg" alt=""/>
            <ul>
                <li><a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s"
                       href="#small-dialog7"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>