<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>yScrumy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" type="text/css" media="all" href ="/static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href ="/static/css/font-awesome.css" th:href="@{/css/font-awesome.css}"/>
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet"/>

    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>



</head>
<body>
<!-- main-content -->
<h1 id="main">Scrum Project Managerment </h1>

<div class="main-content-agileits">
    <!-- left-content -->
    <div class="left-text-w3ls">
        <h3>Why Project Management and Scrum Methodology?</h3>
        <p><a class="fa fa-bullseye" aria-hidden="true"></a>Firstly,...................</p>
        <p><a class="fa fa-bullseye" aria-hidden="true"></a>Secondly,..................</p>
        <p><a class="fa fa-bullseye" aria-hidden="true"></a>Lastly,....................</p>
    </div>
    <!-- //left-content -->
    <!-- form -->
    <div class="login-w3l">
        <div class="top-img-agileits-w3layouts">
            <h2 class="sub-head-w3-agileits"></h2>
        </div>
        </div>
    <!-- //form -->
    <div class="clear"></div>
</div>

</body>
</html>