<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>yScrumy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" th:href="@{/css/style.css}"/>
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>


</head>
<body>
<!-- main-content -->
<h1>Scrum Project Managerment</h1>

<div class="container w3layouts agileits">

    <div class="login w3layouts agileits">
        <h2>Sign In</h2>
        <form th:action="@{/User/Login}" th:object="${signInRequest}" method="post">
            <input type="text" Name="Username" placeholder="Username" required="" th:field="*{username}"/>
            <input type="password" Name="Password" placeholder="Password" required="" th:field="*{hashedPassword}"/>
            <span th:unless="${errorlog == null}" class="error">
                <strong style="color : red;  font-weight: bold;">Error!</strong> <span
                    style="color : red; font-weight: nomal;" th:text="${errorlog}"></span>
            </span>
            <ul class="tick w3layouts agileits">
                <li>
                    <input type="checkbox" id="brand1" value=""/>
                    <label for="brand1"><span></span>Remember me</label>
                </li>
            </ul>
            <div class="send-button w3layouts agileits">
                <input type="submit" value="Sign In"/>

            </div>
        </form>

        <a href="#">Forgot Password?</a>
        <div class="social-icons w3layouts agileits">
            <p>- Or Sign In With -</p>
            <ul>
                <li><a href="#"><span class="icons w3layouts agileits"></span><span class="text w3layouts agileits">Facebook</span></a>
                </li>
                <li class="twt w3ls"><a href="#"><span class="icons w3layouts"></span><span
                        class="text w3layouts agileits">Twitter</span></a></li>
                <li class="ggp aits"><a href="#"><span class="icons agileits"></span><span
                        class="text w3layouts agileits">Google+</span></a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <div class="register w3layouts agileits">
        <h2>Sign Up</h2>
        <form th:action="@{/User/Register}" th:object="${signUpRequest}" method="post">
            <input type="text" Name="Username" placeholder="Username" required="" th:field="*{username}"/>
            <input type="email" Name="Email" placeholder="Email" required="" th:field="*{email}"/>
            <input type="password" Name="Password" placeholder="Password" required="" th:field="*{hashedPassword}"/>
            <input type="text" Name="Phone Number" placeholder="Phone Number" required="" th:field="*{phoneNumber}"/>
            <span th:unless="${errorreg == null}" class="error">
                <strong style="color : red;  font-weight: bold;">Error!</strong> <span
                    style="color : red; font-weight: nomal;" th:text="${errorreg}"></span>
            </span>
            <div class="send-button w3layouts agileits">
                <input type="submit" value="Sign Up"/>
            </div>
        </form>

        <p>By creating an account, you agree to our <a class="underline w3layouts agileits" href="#">Terms</a></p>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>

</div>


</body>
</html>